:root{
    --color1:#232323;
    --text:'Times New Roman', Times, serif;
}



body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: var(--text);
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 4px var(--color1);
}

#main {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 20px;
}

#main h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}


#main p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"],
form input[type="reset"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #2980b9;
}

#news article {
    margin-bottom: 20px;
}

#news article img {
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #2c3e50d3;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-family: var(--text);
}
